/* Main */
*{
  margin: 0;
  padding: 0;
  outline: none;
}
body{
  width: 100%;
  height: 100%;
  color:#333;
  background: #f7f7f7;
  font-size: 1em;
  font-family: "Segoe UI", sans-serif;
}
a{
  text-decoration: none;
}
a.list_text{
  padding-left: 20px;
  color:#00cc99;
  font-size: 50px;
}
.To-do_list{
  background-color: #ffffcc;
}
/* Стилі для Криші*/
header{
padding-left: 35px;
border-bottom: 2px solid silver;
background-color: #ffffff;
padding: 1%;
}
#logo{
font-size: 2em;
 font-family: Comic Sans MS, sans-serif;
 color: rgba(131, 123, 218, 0.93);
}
/* write_list */
.field{
 padding: 10px;
  margin-left: 15px;
  padding-right: 700px;
  border-radius: 15px;
  border: 2px solid silver;
}
input{
  text-align: center;
  font-size: 40px;
}
#time{
margin-left: 20px;
text-align: center;

border-bottom: 2px solid silver;
border-radius: 10px;
}
/*buttons on creator*/
.right{
  float: right;
  margin-right: 40px;
  background: #ffcc66;
  border-bottom: 1px solid silver;
  border-radius: 15px;
  padding: 1%;
}
.left{
  float: left;
  margin-left: 40px;
  background: #ffcc66;
  border-bottom: 1px solid silver;
  border-radius: 15px;
  padding: 1%;
}
.left:hover{
  background: #8ce4a6;
}
.right:hover{
    background: #8ce4a6;
}
